<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="mt-5">
        <div class="error_msg" *ngIf="showErrorMsg">
            This user is not exist
        </div>
        <div class="row" class="mt-5">
            <div class="col-12">
                <input type="text" formControlName="email" class="form-control" placeholder="Enter your email..."/>
                <br />
                <p *ngIf="loginForm.get('email')?.errors?.required && loginForm.get('email')?.touched">
                    *You must enter user name
                </p>
            </div>
            <div class="col-12">
                <input type="password" formControlName="password" class="form-control" placeholder="Enter your password..." />
                <br />
                <p *ngIf="loginForm.get('password')?.errors?.required && loginForm.get('password')?.touched">
                    *You must enter password
                </p>
                <p *ngIf="loginForm.get('password')?.errors?.minlength && loginForm.get('password')?.touched">
                    *You entered
                    {{ loginForm.get("password")?.errors?.minlength.actualLength }} chars,
                    Password must be 6 chars or more
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>