.form_container{
    background-color: #CCC;
    padding: 30px;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    form{
        .row{
            &>div{
                margin-top: 10px;
            }
        }
        .btn-submit{
            display: flex;
            justify-content: flex-end;
            button{
                padding: 5px 40px;
            }
        }
    }
}