.create_issue{
    width: 50%;
    margin: auto;
    form{
        .submit_btn{
            display: flex;
            justify-content: flex-end;
            button{
                background: #e60000;
                border-color: #e60000;
            }
        }
    }
}